.border-focus .form-control:focus {
    border: 1px solid #8bc34a;
    box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}

textarea {
    min-height: 150px;
    max-height: 170px;
}

footer{
    background-color: #e9ecef;
}

.jumbotron{
    padding-bottom: 22px;
    padding-top: 22px;
}

.container div p {
    display:inline-block;
}

.simple-inline > div p {
    display: inline;
}

.navbar-nav > li{
    margin-left:7px;
    margin-right:7px;
}

.I-DateOfAccident, .B-DateOfAccident, .DateOfAccident{
    color: red;
}
.B-Year, .Year{
    color: firebrick;
}
.B-TypeOfAccident, .I-TypeOfAccident, .TypeOfAccident {
    color: darkorange;
}
.B-NumberOfVictims, .NumberOfVictims {
    color: forestgreen;
}
.B-Survivors,.Survivors {
    color: limegreen;
}
.B-Passenger, .I-Passenger, .Passenger {
    color: blue;
}
.I-TypeOfAircraft, .B-TypeOfAircraft, .TypeOfAircraft {
    color: cyan;
}
.B-Tripulation, .Tripulation {
    color: cornflowerblue;
}
.I-Place, .B-Place, .Place {
    color: darkgoldenrod;
}
.I-Cause, .B-Cause, .Cause {
    color: hotpink;
}
.B-Airline, .I-Airline, .Airline {
    color: blue;
}
.B-FlightNumber, .I-FlightNumber, .FlightNumber {
    color: mediumaquamarine;
}
.I-Origin, .I-Destination, .B-Origin, .Origin, .B-Destination, .Destination{
    color: mediumpurple;
}







