.border-focus .form-control:focus {
    border: 1px solid #8bc34a;
    box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}

textarea {
    min-height: 150px;
    max-height: 170px;
}

.container div p {
    display:inline-block;
}


.DateOfAccident{
    color: red;
}
.Year{
    color: firebrick;
}

.TypeOfAccident {
    color: firebrick;
}

.NumberOfVictims {
    color: greenyellow;
}

.Survivors {
   color: limegreen;
}

.Passenger {
    color: blue;
}

.TypeOfAircraft{
    color: cyan;
}

.Tripulation {
    color: cornflowerblue;
}

.Place{
    color: darkgoldenrod;
}

.Cause{
    color: hotpink;
}

.Airline{
    color: blue;
}
.FlightNumber {
    color: aquamarine;
}

.Origin, .Destination{
    color: mediumpurple;
}






