<!DOCTYPE html>
<html lang="en">

<div class="no-inline">
    <div class="row">
        <div class="col-md">
            <h3>Text input</h3>
            <div class="form-group">
                <textarea disabled class="form-control text-justify">2021, January 9 – Sriwijaya Air Flight 182,a Boeing 737-500 operating a domestic flight to Pontianak,Indonesia, crashes shortly after takeoff from Jakarta’s Soekarno–Hatta International Airport.All 62 passengers and crew are killed in the crash.</textarea>
            </div>
        </div>

        <div class="col-md">
            <h3>Response</h3>
            <div>
                <div>
                    <p data-toggle="tooltip" data-placement="top" title=""
                       class="B-Year" data-original-title="B-Year">&nbsp;2021</p>
                    <p data-toggle="tooltip" data-placement="top" title="" class="I-DateOfAccident"
                       data-original-title="I-DateOfAccident">,</p>
                    <p data-toggle="tooltip" data-placement="top" title="" class="B-DateOfAccident"
                       data-original-title="B-DateOfAccident">&nbsp;January</p>
                    <p data-toggle="tooltip" data-placement="top" title="" class="I-DateOfAccident"
                       data-original-title="I-DateOfAccident">&nbsp;9</p>
                    <p class="O">&nbsp;–</p>
                    <p data-toggle="tooltip" data-placement="top" title="" class="B-Airline"
                       data-original-title="B-Airline">&nbsp;Sriwijaya</p>
                    <p data-toggle="tooltip" data-placement="top" title="" class="I-Airline"
                       data-original-title="I-Airline">&nbsp;Air</p>
                    <p data-toggle="tooltip" data-placement="top" title="" class="B-FlightNumber"
                       data-original-title="B-FlightNumber">&nbsp;Flight</p>
                    <p data-toggle="tooltip" data-placement="top" title="" class="I-FlightNumber"
                       data-original-title="I-FlightNumber">&nbsp;182</p>
                    <p class="O">,</p>
                    <p class="O">&nbsp;a</p>
                    <p data-toggle="tooltip" data-placement="top" title="" class="B-TypeOfAircraft"
                       data-original-title="B-TypeOfAircraft">&nbsp;Boeing</p>
                    <p data-toggle="tooltip" data-placement="top" title="" class="I-TypeOfAircraft"
                       data-original-title="I-TypeOfAircraft">&nbsp;737-500</p>
                    <p class="O">&nbsp;operating</p>
                    <p class="O">&nbsp;a</p>
                    <p data-toggle="tooltip" data-placement="top" title="" class="I-Cause"
                       data-original-title="I-Cause">&nbsp;domestic</p>
                    <p data-toggle="tooltip" data-placement="top" title="" class="B-FlightNumber"
                       data-original-title="B-FlightNumber">&nbsp;flight</p>
                    <p class="O">&nbsp;to</p>
                    <p data-toggle="tooltip" data-placement="top" title="" class="B-Place"
                       data-original-title="B-Place">&nbsp;Pontianak</p>
                    <p class="O">,</p>
                    <p data-toggle="tooltip" data-placement="top" title="" class="I-Place"
                       data-original-title="I-Place">&nbsp;Indonesia</p>
                    <p class="O">,</p>
                    <p data-toggle="tooltip" data-placement="top" title="" class="B-TypeOfAccident"
                       data-original-title="B-TypeOfAccident">&nbsp;crashes</p>
                    <p class="O">&nbsp;shortly</p>
                    <p class="O">&nbsp;after</p>
                    <p class="O">&nbsp;takeoff</p>
                    <p class="O">&nbsp;from</p>
                    <p data-toggle="tooltip" data-placement="top" title="" class="I-Place"
                       data-original-title="I-Place">&nbsp;Jakarta</p>
                    <p data-toggle="tooltip" data-placement="top" title="" class="I-Place"
                       data-original-title="I-Place">&nbsp;’</p>
                    <p data-toggle="tooltip" data-placement="top" title="" class="I-Place"
                       data-original-title="I-Place">&nbsp;s</p>
                    <p data-toggle="tooltip" data-placement="top" title="" class="I-Place"
                       data-original-title="I-Place">&nbsp;Soekarno–Hatta</p>
                    <p data-toggle="tooltip" data-placement="top" title="" class="I-Place"
                       data-original-title="I-Place">&nbsp;International</p>
                    <p data-toggle="tooltip" data-placement="top" title="" class="I-Place"
                       data-original-title="I-Place">&nbsp;Airport</p>
                    <p class="O">.</p>
                    <p class="O">&nbsp;All</p>
                    <p data-toggle="tooltip" data-placement="top" title="" class="B-NumberOfVictims"
                       data-original-title="B-NumberOfVictims">&nbsp;62</p>
                    <p class="O">&nbsp;passengers</p>
                    <p class="O">&nbsp;and</p>
                    <p class="O">&nbsp;crew</p>
                    <p class="O">&nbsp;are</p>
                    <p class="O">&nbsp;killed</p>
                    <p class="O">&nbsp;in</p>
                    <p class="O">&nbsp;the</p>
                    <p class="O">&nbsp;crash</p>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md">
            <h3>Text input</h3>
            <div class="form-group border-focus">
                <textarea disabled class="form-control disabled" rows="3"> </textarea>
            </div>
        </div>

        <div class="col-md">
            <h3>Response</h3>
            <div></div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md">
            <h3>Text input</h3>
            <div class="form-group border-focus">
                <textarea disabled class="form-control disabled" rows="3">October 19 – In the 2021 Houston MD-87 crash, a McDonnell Douglas MD-87 aircraft crashes on take-off from Houston Executive Airport, Houston, Texas. All 21 people on board survive.</textarea>
            </div>
        </div>

        <div class="col-md">
            <h3>Response</h3>
            <div>
                <p data-toggle="tooltip" data-placement="top" title="" class="B-DateOfAccident"
                   data-original-title="B-DateOfAccident">&nbsp;October</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="I-DateOfAccident"
                   data-original-title="I-DateOfAccident">&nbsp;19</p>
                <p class="O">&nbsp;–</p>
                <p class="O">&nbsp;In</p>
                <p class="O">&nbsp;the</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="B-Airline"
                   data-original-title="B-Airline">&nbsp;2021</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="B-Airline"
                   data-original-title="B-Airline">&nbsp;Houston</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="I-TypeOfAircraft"
                   data-original-title="I-TypeOfAircraft">&nbsp;MD-87</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="B-TypeOfAccident"
                   data-original-title="B-TypeOfAccident">&nbsp;crash</p>
                <p class="O">,</p>
                <p class="O">&nbsp;a</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="B-TypeOfAircraft"
                   data-original-title="B-TypeOfAircraft">&nbsp;McDonnell</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="I-TypeOfAircraft"
                   data-original-title="I-TypeOfAircraft">&nbsp;Douglas</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="I-TypeOfAircraft"
                   data-original-title="I-TypeOfAircraft">&nbsp;MD-87</p>
                <p class="O">&nbsp;aircraft</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="B-TypeOfAccident"
                   data-original-title="B-TypeOfAccident">&nbsp;crashes</p>
                <p class="O">&nbsp;on</p>
                <p class="O">&nbsp;take-off</p>
                <p class="O">&nbsp;from</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="B-Place"
                   data-original-title="B-Place">&nbsp;Houston</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="I-Place"
                   data-original-title="I-Place">&nbsp;Executive</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="I-Place"
                   data-original-title="I-Place">&nbsp;Airport</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="I-Place"
                   data-original-title="I-Place">,</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="B-Place"
                   data-original-title="B-Place">&nbsp;Houston</p>
                <p class="O">,</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="I-Place"
                   data-original-title="I-Place">&nbsp;Texas</p>
                <p class="O">.</p>
                <p class="O">&nbsp;All</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="B-NumberOfVictims"
                   data-original-title="B-NumberOfVictims">&nbsp;21</p>
                <p class="O">&nbsp;people</p>
                <p class="O">&nbsp;on</p>
                <p class="O">&nbsp;board</p>
                <p class="O">&nbsp;survive</p>
                <p class="O">.</p>
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md">
            <h3>Text input</h3>
            <div class="form-group border-focus">
            <textarea disabled class="form-control disabled" rows="3">

            </textarea>
            </div>
        </div>

        <div class="col-md">
            <h3>Response</h3>
            <div></div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md">
            <h3>Text input</h3>
            <div class="form-group border-focus">
            <textarea disabled class="form-control disabled" rows="3">

            </textarea>
            </div>
        </div>

        <div class="col-md">
            <h3>Response</h3>
            <div></div>
        </div>
    </div>
    <br>


    <div class="row">
        <div class="col-md">
            <h3>Text input</h3>
            <div class="form-group">
                <textarea disabled class="form-control disabled" >On September 26, 1997, an Airbus A300B4-220, Garuda Indonesia Flight 152, which departed from Jakarta, Indonesia, and was preparing to land at Medan, North Sumatra, crashed into mountainous terrain, killing 222 passengers and 12 crew members.</textarea>
            </div>
        </div>

        <div class="col-md">
            <h3>Response</h3>
            <div>
                <p class="O">&nbsp;On</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="B-DateOfAccident"
                   data-original-title="B-DateOfAccident">&nbsp;September</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="I-DateOfAccident"
                   data-original-title="I-DateOfAccident">&nbsp;26</p>
                <p class="O">,</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="B-Year"
                   data-original-title="B-Year">
                    &nbsp;1997</p>
                <p class="O">,</p>
                <p class="O">&nbsp;an</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="B-TypeOfAircraft"
                   data-original-title="B-TypeOfAircraft">&nbsp;Airbus</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="I-TypeOfAircraft"
                   data-original-title="I-TypeOfAircraft">&nbsp;A300B4-220</p>
                <p class="O">,</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="B-Airline"
                   data-original-title="B-Airline">&nbsp;Garuda</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="I-Airline"
                   data-original-title="I-Airline">&nbsp;Indonesia</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="B-FlightNumber"
                   data-original-title="B-FlightNumber">&nbsp;Flight</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="I-FlightNumber"
                   data-original-title="I-FlightNumber">&nbsp;152</p>
                <p class="O">,</p>
                <p class="O">&nbsp;which</p>
                <p class="O">&nbsp;departed</p>
                <p class="O">&nbsp;from</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="B-Destination"
                   data-original-title="B-Destination">&nbsp;Jakarta</p>
                <p class="O">,</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="I-Place"
                   data-original-title="I-Place">&nbsp;Indonesia</p>
                <p class="O">,</p>
                <p class="O">&nbsp;and</p>
                <p class="O">&nbsp;was</p>
                <p class="O">&nbsp;preparing</p>
                <p class="O">&nbsp;to</p>
                <p class="O">&nbsp;land</p>
                <p class="O">&nbsp;at</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="B-Place"
                   data-original-title="B-Place">&nbsp;Medan</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="I-Place"
                   data-original-title="I-Place">,</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="I-Place"
                   data-original-title="I-Place">&nbsp;North</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="I-Place"
                   data-original-title="I-Place">&nbsp;Sumatra</p>
                <p class="O">,</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="B-TypeOfAccident"
                   data-original-title="B-TypeOfAccident">&nbsp;crashed</p>
                <p class="O">&nbsp;into</p>
                <p class="O">&nbsp;mountainous</p>
                <p class="O">&nbsp;terrain</p>
                <p class="O">,</p>
                <p class="O">&nbsp;killing</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="B-NumberOfVictims"
                   data-original-title="B-NumberOfVictims">&nbsp;222</p>
                <p class="O">&nbsp;passengers</p>
                <p class="O">&nbsp;and</p>
                <p data-toggle="tooltip" data-placement="top" title="" class="B-Tripulation"
                   data-original-title="B-Tripulation">&nbsp;12</p>
                <p class="O">&nbsp;crew</p>
                <p class="O">&nbsp;members</p>
                <p class="O">.</p>
            </div>
        </div>
    </div>

</div>
